header {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 20px;
}

.main-cont {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 30px;
}

@media screen and (min-width: 600px) {
    .main-cont {
        flex-direction: row;
    }
}

/* //^--- media query to change from vertical to horizontal */

.page-cont {
    width: 100%;
    order: 2;
}

.content {
    border-bottom: 2px dotted #333;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.feedback {
    align-items: auto;
}

.label {
    text-align: center;
}

label {
    display: block;
}

/* ^//so that suggestions are all centered in page instead of having context boxes in the same line as the label */

.form {
    text-align: center;
}




.welcome {
    background-image: url(../images/cookingbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }

@media screen and (min-width: 600px) {
    .welcome {
        height: 25vw;
    }
}    

/* //^-- media query to make it so that header banner adjusts to screen size and doesnt distort */

.desserts .welcome {
    background-image: url(../images/desserts.jpg);
}

.drinks .welcome {
    background-image: url(../images/thebar.jpg);

}
 
/* //^-- these two specified so that each page can have a different picture in header banner */

html {
    /* height: 100%;
    overflow-wrap: normal; */
}

.title {
    color: black;
    font-size: 3rem;
    text-align: center;    
}

footer {
    position: bottom;
    margin-top: 100px;
    padding: 5px;
    bottom: 5%;
    width: 100%;
    background-color: green;
    text-align: center;
    clear: both;
}



aside {
  width: 100%;
  padding-left: 15px;
  margin: 0 1.5%;
  float: right;
  font-style: italic;
  background-color: lightgray;
  border-style: dashed;
  display: block;
  order: 1;
}

@media screen and (min-width: 600px) {
    aside {
        order: 2;
        width: 35%;
        margin-left: 15px;
        animation: fadeIn ease 2s;
        position: relative;
    }
    .page-cont {
        order: 1;
    }

}

nav {	
    width:100%;
    color:white;
    font-style: normal;
    padding-bottom: 10px;
        
	}
	
nav ul {	
    width: 100%; 
    padding:0px;
    flex-direction: column;
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
    
@media screen and (min-width: 600px) {
    nav ul {
        flex-direction: row;
    }
    nav ul li {
        flex: 1;
    }
}	
nav ul li {
    border-style: double;
	line-height:50px;
	text-align:center;
    background-color: white;
    color: green;
    margin: 10px;
    align-items: center;
   list-style: none;
}
	
nav ul li:hover {
    background-color:green;
}

a:hover {
    color: white;
}
 /* //^-- changes color of text on hover for better visibility */


body {
    background-color: rgb(158, 228, 158);
}

section {
    margin-top: 100px;
    float: left;
    margin: 0 1.5%;
    width: 63%;
}

@keyframes fadeIn {
    0% {
        opacity:0;
        left: 100px;
        }
    100% {
        opacity:1;
        left: 0;
    }
    }

/* //^-- set for animation of aside (crawl in from right of page on desktop) */


